<!-- Describe task in general -->

<p>
    给定两个整数<code>n</code> 和<code>k</code> ，任务是数出 1 到<code>n</code> （含）之间有多少个数能被<code>k</code> 整除。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}count-divisibles.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>两个整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>如何使用：</strong>
    <i>该函数可用于数论问题、统计计算以及其他各种需要计数的数学和实际应用场合。</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件： 1 &lt;= k &lt;= n &lt;= n</strong>
    <ul>
    <li><i>1 &lt;= k &lt;= n &lt;=<sup>109</sup></i>。</li>
    </ul>
</p>
