<!-- Describe task in general -->

<p>
    За заданими двома цілими числами <code>n</code> та <code>k</code> потрібно підрахувати, скільки чисел від 1 до <code>n</code> (включно) ділиться на <code>k</code>.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}count-divisibles.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Два цілих числа <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Як використовується:</strong>
    <i>ця функція може бути корисною у задачах теорії чисел, статистичних обчисленнях та інших математичних і практичних сценаріях, де потрібен такий підрахунок.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Умова:</strong>
    <ul>
    <li><i>1 &lt;= k &lt;= n &lt;=<sup>109</sup></i>.</li>
    </ul>
</p>
