<!-- Describe task in general -->

<p>
    Étant donné deux nombres entiers, <code>n</code> et <code>k</code>, la tâche consiste à compter combien de nombres compris entre 1 et <code>n</code> (inclus) sont divisibles par <code>k</code>.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}count-divisibles.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Deux entiers <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>

<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Comment l'utiliser:</strong>
    <i>cette fonction peut être utile dans les problèmes de théorie des nombres, les calculs statistiques et divers autres scénarios mathématiques et pratiques où un tel comptage est nécessaire.</i>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Condition préalable:</strong>
    <ul>
    <li><i>1 &lt;= k &lt;= n &lt;=<sup>109</sup></i>.</li>
    </ul>
</p>
